body,
html {
  margin: 0px;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

.container {
  max-width: 1270px;
  margin: auto;
}

.bg {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

.start-container {
  position: absolute;
  top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60%;
}

.start-container-title {
  padding-top: 91px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 80px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
}

.start-container-logo {
  padding-top: 118px;
}

.start-container-btn-border {
  margin-top: 83px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  border: 1px solid #81398b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.start-container-btn-border:active {
  background: #81398b;
  top: 2px;
  color: auto;
}

.menu {
  position: absolute;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-right: 66px;
  cursor: pointer;
  z-index: 1;
}

.menu-text {
  padding-right: 12px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
}

.menu-text:hover {
  color: red;
}

.button-in-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 163px;
  height: 50px;
  background: #81398b;
  border-radius: 25px;
  margin: 11px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: auto;
}

.button-in-start img {
  padding-left: 12px;
}

.button-in-start:hover {
  background-color: #672e6f;
}

.button-regular {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
}

.block-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -219px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-items-item {
  width: 235px;
  height: 220px;
  background-color: #e22028;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-items-item:last-child {
  background-color: #ff6c00;
}

.block-items-item:first-child {
  background-color: #fe4a5d;
}

.block-items-item:hover {
  opacity: 0.9;
}

.block-subitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-subitems-subitem {
  width: 235px;
  height: 110px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
  background-color: #e22028;
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: auto;
}

.block-subitems-subitem:last-child {
  background-color: #ff6c00;
}

.block-subitems-subitem:last-child:hover {
  background-color: #ff6c00;
}

.block-subitems-subitem:first-child {
  background-color: #fe4a5d;
}

.block-subitems-subitem:hover {
  opacity: 1;
}

.main-title {
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Dosis', sans-serif;
  font-size: 52px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
}

.main-title-icon {
  padding-right: 12px;
}

.main-subtitle {
  padding-top: 44px;
  max-width: 860px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #2f1946;
  font-weight: 700;
  line-height: 36px;
}

.main-autor {
  padding-top: 7px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #fe4a5d;
  font-weight: 700;
  line-height: 36px;
}

.signUp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.photos-container {
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.photos-container-item {
  padding: 0;
  height: 189px;
  margin: 14px;
}

.main {
  width: 466px;
  height: 552px;
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, right top, from(#e22028), to(#f9b416));
  background-image: linear-gradient(to right, #e22028 0%, #f9b416 100%);
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 15px;
  padding: 65px 75px;
}

.form-container-title {
  font-family: 'Dosis', sans-serif;
  font-size: 38px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
}

.form-container-input {
  width: 270px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #dcdcdc;
  background-color: #ffffff;
  padding-left: 12px;
  margin-bottom: 12px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  line-height: auto;
}

.form-container-input:hover {
  border: 2px solid #642f6b;
}

.form-container-input:active {
  border: 2px solid #642f6b;
}

.form-container-input::-webkit-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  line-height: auto;
}

.form-container-input:-ms-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  line-height: auto;
}

.form-container-input::-ms-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  line-height: auto;
}

.form-container-input::placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #642f6b;
  font-weight: 700;
  line-height: auto;
}

.form-container-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.form-container-choice-or {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 5px 9px;
}

hr {
  width: 132px;
  border-radius: 1px;
  background-color: #dcdcdc;
}

.submit-btn {
  border-radius: 4px;
  background-color: #81398b;
  height: 41px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.submit-btn:active {
  background: #243f7b;
  top: 2px;
  color: auto;
}

.submit-btn:hover {
  background-color: #800080;
}

.facebook-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  border-radius: 4px;
  background-color: #2f53a3;
  height: 41px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.facebook-btn-icon {
  padding-right: 8px;
}

.facebook-btn:hover {
  background-color: #243f7b;
}

.facebook-btn:active {
  background: #81398b;
  top: 2px;
  color: auto;
}

.column-1 {
  padding-top: 85px;
  width: 254px;
}

.column-2 {
  padding-top: 15px;
  width: 343px;
}

.column-3 {
  padding-top: 35px;
  width: 304px;
}

.column-4 {
  width: 294px;
}

.join-now {
  position: relative;
  overflow: hidden;
  height: 730px;
  opacity: 0.95;
  background-color: #81398b;
  background-image: url("./src/join-now-bg.png");
  background-position: center;
  margin-top: 159px;
}

.join-now-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  border-radius: 50%;
  margin: 33px;
}

.join-now-item--main {
  width: 371px;
  height: 371px;
  background-color: #ffffff;
  top: calc(50% - 371px/2);
  left: calc(50% - 371px/2);
  margin: 33px;
}

.join-now-item--main-title {
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
  text-transform: uppercase;
}

.join-now-item--main-subtitle {
  margin-top: 19px;
  font-family: 'Dosis', sans-serif;
  font-size: 46px;
  color: #2f1946;
  font-weight: 700;
  line-height: auto;
}

.join-now-btn {
  margin-top: 28px;
  width: 139px;
  height: 39px;
  border-radius: 3px;
  background-color: #e22028;
  background-image: -webkit-gradient(linear, left top, right top, from(#e22028), to(#f9b416));
  background-image: linear-gradient(to right, #e22028 0%, #f9b416 100%);
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.join-now-btn:hover {
  color: #2f1946;
}

.join-now-btn:active {
  background: #81398b;
  top: 2px;
  color: #ffffff;
}

.border-join-item {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: calc(50% - 439px/2);
  left: calc(50% - 439px/2);
}

.send_flowers {
  top: calc(26% - 257px/2);
  left: calc(25% - 257px/2);
}

.genders {
  top: calc(80% - 159px/2);
  left: calc(30% - 159px/2);
}

.languages {
  top: calc(19% - 169px/2);
  left: calc(72% - 169px/2);
}

.chat_t {
  top: calc(63% - 257px/2);
  left: calc(88% - 257px/2);
}

.flower {
  top: calc(35% - 159px/2);
  left: calc(0% - 159px/2);
}

.like {
  top: calc(68% - 169px/2);
  left: calc(10% - 169px/2);
}

.gift {
  top: calc(70% - 169px/2);
  left: calc(70% - 169px/2);
}

.chat {
  top: calc(23% - 159px/2);
  left: calc(95% - 159px/2);
}

.red {
  background-color: #fe4a5d;
}

.orange {
  background-color: #ff6c00;
}

.yellow {
  background-color: #f9b416;
}

.small {
  width: 101px;
  height: 101px;
}

.medium {
  width: 159px;
  height: 159px;
}

.big {
  width: 189px;
  height: 189px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newSlitter {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newSlitter-content {
  padding-right: 15px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #00cfae;
  font-weight: 700;
  line-height: auto;
}

.newSlitter-input {
  width: 285px;
  height: 36px;
  padding-left: 13px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #cacaca;
  font-weight: 400;
  line-height: auto;
}

.newSlitter-input:active {
  border: 1px solid #00cfae;
}

.newSlitter-input::-webkit-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #cacaca;
  font-weight: 700;
  line-height: auto;
}

.newSlitter-input:-ms-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #cacaca;
  font-weight: 700;
  line-height: auto;
}

.newSlitter-input::-ms-input-placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #cacaca;
  font-weight: 700;
  line-height: auto;
}

.newSlitter-input::placeholder {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #cacaca;
  font-weight: 700;
  line-height: auto;
}

.newSlitter-btn {
  width: 135px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  background-color: #00cfae;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.newSlitter-btn:hover {
  background-color: #ff6c00;
}

.newSlitter-btn:active {
  -webkit-box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: inset 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.about {
  height: 70px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 828px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #2f1946;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.link:hover {
  color: #00cfae;
}

.flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 23px 0;
}

.flag-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 710px;
}

.flag-link a:active {
  -webkit-transform: scale(2);
  transform: scale(1);
  max-height: 18px;
  max-width: 12px;
}

.line {
  width: 46%;
  height: 1px;
  border-radius: 1px;
  background-color: #d3d3d3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0;
  -webkit-transition: 0s 9999999s;
  transition: 0s 9999999s;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #2f1946;
  font-weight: 400;
  line-height: 24px;
}

.left-bar {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 3px 3px 0;
  background-color: #45124c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 195px;
  position: fixed;
  top: calc(50% - 97px);
  left: 0;
}

@media screen and (max-width: 1400px) {
  .start-container-logo {
    padding-top: 50px;
  }
  .start-container-title {
    padding-top: 35px;
  }
  .start-container-btn-border {
    margin-top: 53px;
  }
}

@media screen and (max-width: 1200px) {
  .start-container-logo {
    padding-top: 30px;
  }
  .start-container-title {
    padding-top: 25px;
    font-size: 50px;
  }
  .start-container-btn-border {
    margin-top: 43px;
  }
  .block-items {
    margin-top: -189px;
  }
  .block-items-item {
    width: 180px;
    height: 190px;
  }
  .block-subitems-subitem {
    width: 180px;
    height: 80px;
  }
  .languages {
    top: calc(12% - 169px/2);
  }
  .gift {
    top: calc(85% - 169px/2);
  }
  .send_flowers {
    top: calc(20% - 257px/2);
    left: calc(24% - 257px/2);
  }
}

@media screen and (max-width: 996px) {
  .start-container-title {
    display: none;
  }
  .main-title {
    padding-top: 100px;
  }
  .genders {
    top: calc(85% - 159px/2);
    left: calc(25% - 159px/2);
  }
}
/*# sourceMappingURL=style.css.map */